<% provide(:title, @categoria) %>
<%= render 'layouts/sidebar'%>
<div class="wrapper">
  <p class='page-title'><%=@categoria%></p>
  <%= render 'shared/articulos_index', :categoria => @categoria%>
</div>
