<% provide(:title, "Home | SmartBuy") %>
<%= render 'layouts/sidebar'%>

<div <div class='center'>
  <h4> Productos recientes: </h4>
  <%= render 'shared/articulos_index'%>
  <% if logged_in? %>
    <% if current_user.admin?%>
    <br>
      <%= link_to "Publicar Articulo", add_articulo_path %>
    <% end %>
  <% else %>
    <h2>Welcome to SmartBuy</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
