<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> <br>
        <% if current_user.admin?%>
        <%= link_to "Publicar Articulo", add_articulo_path %>
        <% end %>
      </h1>
    </section>
  </aside>
</div>
<div>
  <%= render 'shared/carts_index' %>
</div>
