
#logo {
  background-color: #333;
  padding: left;
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 14px 16px;
}
a {
    text-decoration: none;
    cursor: auto;
}
.center {
  text-align: center;
  font-size: 30px;
}
header {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;
  }

  li {
    float: right;
    text-decoration: none;

  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
  }
  li a:hover{
    background-color: #111;
    text-decoration: none !important;
  }
}
