<header class="navbar">
  <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <%= link_to "SmartBuy", 'root_path', id: "logo" %>
        <li><%= link_to "Home",  root_path %></li>
        <li><%= link_to "Help",  help_path %></li>
        <li><%= link_to "Log in", '# '%></li>
      </ul>
  </div>
</header>
