<% provide(:title, "Editar Articulo | SmartBuy") %>
<%= render 'layouts/sidebar'%>
<div class='wrapper'>
<% if logged_in? %>
  <% if current_user.admin? %>
    <%= render 'form', articulo: @articulo %>
  <% end %>
  <%= link_to 'Ver Articulo', @articulo %>
<% end %>
<%= link_to 'Ver todos', articulos_path %>
</div>
