<h1>Editing Articulo</h1>
<% if logged_in? %>
  <% if current_user.admin? %>
    <%= render 'form', articulo: @articulo %>
  <% end %>
  <%= link_to 'Show', @articulo %>
<% end %>
<%= link_to 'Back', articulos_path %>
