<h1>New Articulo</h1>
<%= render 'layouts/sidebar'%>
<% if logged_in?%>
  <% if current_user.admin?%>
    <%= render 'form', articulo: @articulo %>
  <% end %>
<% end %>
<%= link_to 'Back', articulos_path %>
